body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    margin: 0vw;
}
.head{
    width: 100%;
    margin: 0 auto;
   
}


.bg-img{
    background-image: url("full.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.front-upper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ffffffd9;
}
.front-upper h1{
    font-size: 4vw;
    height: 5vw;
    letter-spacing: -0.2vw;
    word-spacing: 1vw;
}
.front-upper p{
    font-size: 1.0vw;
    line-height: 2;
    word-spacing: -0.1vw;
    letter-spacing: 0.002vw;
}
.button{
    margin-top: 1vw;
}
.button input{
    border: 0.1vw solid #001ce6f2;
    border-radius: 0.2vw;
    height: 2vw;
}
.btn-updated{
    background: linear-gradient(0.25turn, #3F51B5, #b228ea);
    border: 0.1vw solid wheat;
    border-radius: 0.3vw;
    height: 2vw;
    font-weight: bold;
    color: white;
    font-size: 0.9vw;
    margin-left: 0.2vw;
}
.btn-explore{
    height: 2vw;
    font-weight: bold;
    color: white;
    background: transparent;
    border: 0.1vw solid wheat;
    border-radius: 0.3vw;
    font-size: 0.9vw;
}

